/* Colour Palette
#A1CACF - light blue
#0A0908 - black
#0D1B2A - dark blue
#BC2C1A - orange red
#136F63 - dark turquiouse
*/
/* Fonts
-------------------------------*/
@font-face {
    font-family: SF-Pro-Display-Bold;
    src: url(../fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: SF-Pro-Display-Regular;
    src: url(../fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: SF-Pro-Display-Ultralight;
    src: url(../fonts/SF-Pro-Display-Ultralight.otf);
}

/* Global Styles
-------------------------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
font-family: SF-Pro-Display-Regular, Arial, Helvetica, sans-serif;
margin: 0;

}
h1, h2 {
    font-family: 'Zilla Slab', serif;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 30px;
    text-decoration: overline;
    margin-top: 0;
}
h3 {
    font-family: SF-Pro-Display-Bold, Arial, Helvetica, sans-serif;
    margin: 0;
}
a {
    color: #BC2C1A;
}
a:hover {
    text-decoration: none;
}
p {
    
    line-height: 150%;
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}
.col-wide {
    width: 75%;
    float: left;
    padding-left: 20px;
   
}
.col-narrow {
    width: 25%;
    float: left;
   
}
.uppercase {
    text-transform: uppercase;
}
.btn {
    text-decoration: none;
    background: #BC2C1A;
    color: #C4DEE1;
    padding: 10px;
    display: inline-block;
}

/* Header and Footer
-------------------------------*/
header, footer {
    background: #0D1B2A;
    color: #C4DEE1;
}
/* header */
header {
    padding-top: 30px;
    position: relative;
}
header h1, header h2 {
    color: #BC2C1A;
   margin: 0;
}
.profile-img {
    border-radius: 50%;
}
.download {
    position: absolute;
    right: 0;
    bottom: 0;
}
/*footer*/
footer {
    text-align: center;
}
.contact-info a {
    padding: 10px;
    display: inline-block;
}
.contact-info i {
    font-size: 30px;
}
/* Navigation
-------------------------------*/
nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    background: white;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: SF-Pro-Display-Bold, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
/* Work Experience
-------------------------------*/
.work {
    background: #DAFAFF;
}
h3 ~ p {
    margin: 0;
}
.job-desc {
    margin-bottom: 40px;
}
.job-desc p:first-of-type {
    margin-top: 0;
}

/* Education
-------------------------------*/
.education {
    background: linear-gradient(45deg,rgba(218, 250, 255, 1),
                    rgba(36, 228, 255, 0.9)),
                    url("../images/books.jpg") no-repeat fixed;
    
    background-size: cover;
}
p + h3 {
    margin-top:20px;
}